<div id="{{collection.handle}}" class="collection-template collection-template-default">
  {% if collection.handle == 'all-in-stock' or collection.handle == 'all-in-stock-pbl' %}
      {% include 'count-down-b2g2' %}
   {% endif %}
  <div class="container collection_inner_content">
	  <div class="halo-collection-content">
      <div class="row">
        {% section 'sidebar-filter-parent' %}
        {% section 'collection-template-parent' %}
      </div>
    </div>
  </div>
  {% render 'collection_bottom_banner' %}
</div>