{% comment %} How to use section  {% endcomment %}
{% assign Howtousedesc = product.metafields.Product['How to Use - Text'] %}

<div class="how-to-use-steps-section">
  <div class="inside_tab ">
    <div class="how-to-use-steps row">
      {% if Howtousedesc != 0 and Howtousedesc != blank %}
      <div class="{% if Howtousevideo == blank %} col-sm-12 {% else %}col-sm-6{% endif %} left-content-sec">
        
        <!--      how to use title    -->
        {% assign Howtousesecondtitle = product.metafields.Product['How to use second title '] %}
        {% if Howtousesecondtitle != 0 and Howtousesecondtitle != blank %}
        <h3>{{ Howtousesecondtitle }}</h3>
        {% endif %}
        <!--      how to use title end   -->
        
        <!--      how to use description    -->
        {% if Howtousedesc != 0 and Howtousedesc != blank %}
        {{ Howtousedesc }}
        {% endif %}
        <!--      how to use description end   -->
      </div>
      {% endif %}
    </div>
  </div>
</div>