<div class="loading-modal modal"><div></div><div></div><div></div><div></div></div>
<div class="added_product modal" style="display:none;">Product added to cart!</div>
<div class="ajax-lookbook-modal">
    <div class="overlay"></div>
    <div class="ajax-modal-content">
        <a href="javascript:void(0)" data-close-lookbook-modal class="close close-modal">
        {% include 'icon-close' %}
        </a>
        <div class="lookbook-content"></div>
    </div>  
</div>


