<div class="wrapper-header wrapper_header_parallax">
  {% section 'header-parallax' %}
</div>
  <script>
    $('.logo-img.right').click(function(){
      console.log('jfghsgdfhgsdh');
      clevertap.event.push("BodyLovin Logo Conversion", {
        Click: "Click"
      });    
    });
    $('.logo-img.left').click(function(){
      console.log('jfghsgdfhgsdh');
      clevertap.event.push("PLUM Logo Conversion", {
       Click: "Click"
      });    
    });
    $('.logo-img.phy-logo').click(function(){
      console.log('jfghsgdfhgsdh');
      clevertap.event.push("PHY Logo Conversion", {
        Click: "Click"
      });    
    });
</script>