{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'plum-parent-category.css' | asset_url | stylesheet_tag }}
<div id="parent_class">
{% if section.settings.text != blank %}
  <div class="uns_text_static" {% if section.settings.image_picker_bg != blank %}style="url('{{ section.settings.image_picker_bg | img_url:'master' }}')"{% endif %}>
    <h1>{{ section.settings.text }} </h1>
  </div>
{% endif %}
{% include 'collection-template-boost-pfs-parent' %}
</div>

{% schema %}
{
  "name": "main-parents-collection",
  "settings": [
  {
      "id": "text",
      "type": "text",
      "label": "Background Image Desktop"
    }
    ,{
      "id": "image_picker_bg",
      "type": "image_picker",
      "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Main Parents Collection",
      "category": "Text"
    }
  ]
}
{% endschema %}