.bottom_content a {
    color: white;
    text-decoration: underline;
}
.uns_hero_static {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    flex-wrap: wrap;
    background-size: 100%;
    background-repeat: no-repeat;
}

main.main-content .uns_hero_static {
    background: none !important;
}
main.main-content .section_image_text_4 .gl_custom_template--15037447045180__fff98773-dae4-4182-9fe5-5b9f1898fcdd {
    background: none !important;
}

.uns_hero_static span.text_sec {
    display: block;
    width: 100%;
    padding-top: 4vw;
    color: #fff;
    text-align: center;
   /* font-family: 'Justaword', sans-serif;*/
    font-size: 51px;
    line-height: normal;
}

.uns_hero_static img {
    display: block;
    margin: 0 auto;
}

h2.gl_custom_heading.hidden-lg.hidden-md {
   font-family: "DINNextRoundedLTPro-Regular";
}

.shopify-section.video .container-padd60 {
    padding-top: 6vw;
    padding-bottom: 50px;
}

.shopify-section.video h2.gl_custom_heading {
    letter-spacing: 1px!important;
    color: #fff!important;
    width: 100%;
    line-height: 51px!important;
    margin-bottom: 10px;
    font-size: 48px!important;
    padding-top: 7px;
   /* font-family: "Justaword";*/
    text-transform: uppercase;
}


.shopify-section.video p span {
    font-size: 24px;
    color: #fff!important;
    line-height: 1.4;
}

.shopify-section.video p {
     font-family: "DINNextRoundedLTPro-Light";
    color: #fff;
    width: 100%;
    padding: 15px 0;
}
.shopify-section.video .col-md-6:last-child img.title_image {
    margin-top: -20px;
}

.index-section .buttons {
    display: flex;
    flex-wrap: wrap;
}

.index-section .buttons .basel-button-wrapper:after {
    content: "|";
    position: absolute;
    right: 0;
    height: 100%;
    top: 6px;
    /* bottom: 0; */
     /*font-family: "Justaword";*/
    font-size: 35px;
    color: #fff;
}

.index-section .buttons .basel-button-wrapper {
    margin-right: 30px;
    padding-right: 30px;
    /* border-right: 1px solid #fff; */
    position: relative;
    float: left;
    margin-top: 10px;
}

.index-section .buttons .basel-button-wrapper a.btn {
    background: none !important;
    font-size: 27px;
    /* font-family: "Justaword";*/
    max-width: 100%;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    /* line-height: normal; */
}

.index-section .buttons .basel-button-wrapper:last-child {
    margin-right: 0;
    padding-right: 0;
}

.index-section .buttons .basel-button-wrapper:last-child:after {
    display: none;
}

#shopify-section-template--15037447045180__fff98773-dae4-4182-9fe5-5b9f1898fcdd figure {
    margin-bottom: 0;
}

.container-padd60.right_dashboard {
    padding-top: 60px;
}

.container-padd60.right_dashboard .spb_column.gl_column_container.col-md-6:last-child {
    padding-bottom: 4vw;
}


.home-slideshow-sections .home-slideshow {
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/1-100-_Bg.jpg');
    background-repeat: no-repeat;
    min-height: 35vw;
    background-size: cover;
    padding: 95px 0 52px 0;
}

.home-slideshow .container-fluid {
    max-width: 1700px !important;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    width: 100%;
    max-width: 1200px;
    margin: 67px auto 0;
    min-height: 420px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain img {
    width: auto;
}

.home-slideshow ul.slick-dots {
    display: none !important;
}

 .home-slideshow .slick-prev.slick-arrow {
    left: 15px !important;
    opacity: 1 !important;
    visibility: visible;
    background: #3f3f3f;
    width: 45px;
    height: 45px;
}

.home-slideshow .slick-next.slick-arrow {
    right: 15px !important;
    opacity: 1 !important;
    visibility: visible;
   background: #3f3f3f;
    width: 45px;
    height: 45px;
}

.home-slideshow .slick-prev.slick-arrow svg {
    display: none;
}

.home-slideshow .slick-prev.slick-arrow:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/dashborad_arrow_next.png');
    width: 22px;
    height: 14px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 13px;
    right: 7px;
}

.home-slideshow .slick-next.slick-arrow:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/dashboard_arrow_prev.png');
    width: 22px;
    height: 14px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 13px;
    left: 7px;
}

.home-slideshow .item .testimonial-avatar img {
    width: auto !important;
}

main.main-content {
    padding-bottom: 0;
}

.testimonal-slideshow-sections .home-slideshow {
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/Testimonial-_Bg_a83c2179-1cd6-4295-89b2-2d598421c44d.jpg');
    padding: 80px 0 90px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimonal-slideshow-sections .home-slideshow .images-contain.container-padd60 {
    max-width: 1000px;
}
.testimonal-slideshow-sections .home-slideshow h3.box-title {
    font-size: 51px;
    color: #000;
    /*font-family: Justaword,sans-serif;*/
    text-transform: uppercase;
}

.testimonal-slideshow-sections .home-slideshow h3.box-title .title {
    background: none !important;
}

.testimonial-avatar img {
    border-radius: 100%;
    padding: 5px;
    border: 3px solid #fff;
  margin-bottom: 20px;
}

.testimonal-slideshow-sections .home-slideshow h3.box-title .title:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/pen-icon.png');
    width: 113px;
    height: 81px;
    position: absolute;
    right: -90px;
    top: -30px;
    background-repeat: no-repeat;
    background-size: contain;
  display:block;
}

.testimonal-slideshow-sections .home-slideshow .slick-prev.slick-arrow {
    background: rgba(84,53,14,0.6);
}

.testimonal-slideshow-sections .home-slideshow .slick-next.slick-arrow {
    background: rgba(84,53,14,0.6);
}

.testimonial-avatar .author_name {
    display: block;
    /* margin-top: 20px; */
    font-family: "DINNextRoundedLTPro-Regular";
    font-size: 25px;
    color: #000;
}

.testimonial-inner .testimonial-content {
   font-family: "DINNextRoundedLTPro-Light";
    font-size: 25px;
    padding-top: 8px;
    color: #000;
    width: 100%;
    max-width: 530px;
    margin: 0 auto;
    line-height: 1.1;
    padding-left: 30px;
    padding-right: 30px;
}
.testimonial-inner {
    position: relative;
    padding: 0 130px 100px;
}

.testimonial-inner:before {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/Quote-_left.png');
    display: block;
    width: 123px;
    height: 94px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-slideshow .slick-next.slick-arrow svg {
    display: none !important;
}

.testimonial-inner:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/Quote-_right.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 123px;
    height: 94px;
    position: absolute;
    right: 0;
    bottom: 30px;
}


.index-section.section_image_text_4 .left_dshboard {
    padding-top: 80px;
    position: relative;
}

.index-section.section_image_text_4 .left_dshboard:before {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/blackboard_began_leaf.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 133px;
    height: 143px;
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 11;
}

.left_dshboard .gl_figure {
    margin-bottom: 0 !important;
}


.left_dshboard .spb_wrapper h2.gl_custom_heading {
    position: relative;
    padding-top: 20px;
}


.left_dshboard .gl_figure .gl_single_image-wrapper {
    position: relative;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 52px!important;
    font-family: DINNextRoundedLTPro-Light;
    color: #fff!important;
    margin-bottom: 65px;
    position: relative;
    white-space: nowrap;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/blackboard-text_line_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 415px;
    height: 14px;
    margin-top: 55px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child {
    padding-bottom: 20px;
}

.shopify-section.section_image_text_4>div:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/new-overaly-im-blackboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 61%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading b {
    display: block;
    font-family: "DINNextRoundedLTPro-Medium";
    font-weight: normal;
    padding-top: 10px;
}

.shopify-section.section_image_text_4 p {
    font-size: 24px;
    line-height: 1.2;
    width: 100%;
    font-family: "DINNextRoundedLTPro-Light";
}

.shopify-section.section_image_text_4 p span {
    color: #fff !important;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    width: 100%;
    max-width: 535px;
    display: block;
    margin-bottom: 40px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-family: "DINNextRoundedLTPro-Regular";
    font-size: 45px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child {
    padding-top: 3vw;
    position: relative;
    z-index: 11;
}

.shopify-section.section_image_text_4>div {
    position: relative;
}

.video-popup {
    position: relative;
}

.shopify-section.video .video-popup {
    margin-top: 10px;
    margin-bottom: 20px;
}

.video-popup button[data-target="#size-chart"] {
    padding-bottom: 53.66%!important;
    overflow: hidden;
    display: block;
    cursor: pointer;
}
.video-popup button[data-target="#size-chart"] img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 0 !important;
}

.video-popup button[data-target="#size-chart"]:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/video_icon_dashboard.png');
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 88px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video .modal-body {
    position: relative;
    padding-bottom: 55.66%;
}

  .video .modal-body iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bottom_content {
    color: #fff;
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 19px;
    font-family: "DINNextRoundedLTPro-Light";
    margin-top: 30px;
    /* word-break: break-all; */
    line-height: 1.2;
}

.bottom_content + .bottom_content {
    text-align: center;
}

.home-slideshow-sections .widget-title .box-title {
    font-size: 51px!important;
   /*font-family: "Justaword";*/
    color: #000 !important;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.home-slideshow-sections .widget-title .box-title span.title {
    background: none;
}

.home-slideshow-sections .widget-title .box-title span {
    position: relative;
    top: -8px;
}

.home-slideshow-sections .widget-title .box-title span.title:after {
    content: "";
    background: url('https://cdn.shopify.com/s/files/1/0390/2985/files/bulb_icon_seprate.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 103px;
    height: 116px;
    display: inline-block;
    margin-left: 20px;
	top: 10px;
	position: relative;
}

.bottom_content + .bottom_content h3 {
   /* font-family: "Justaword";*/
    color: #fff;
    font-size: 51px;
    margin-top: 3vw;
    margin-bottom: 30px;
}

.bottom_content .signup-mail-outer {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.index-section.video .desktop-form .aign-text-frm {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.index-section.video .desktop-form .aign-text-frm label {
    color: #fff;
    font-family: "DINNextRoundedLTPro-Light";
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 1px;
    min-width: 100px;
  margin:0;
}

.index-section.video .desktop-form .aign-text-frm input {
    width: 100%;
    max-width: 100%;
    height: 50px;
/*     border: none; */
    font-size: 18px;
    padding: 10px 20px;
    font-family: "DINNextRoundedLTPro-Light";
    color: #fff;
    background: rgba(255,255,255,0.5);
    border-radius: 15px;
}

.index-section.video .desktop-form button {
    border: 1px solid #fff!important;
    background: #fff!important;
    color: #000;
    min-width: 150px;
    padding: 6px;
    border-radius: 8px;
    font-size: 35px;
    cursor: pointer;
    /*font-family: "Justaword";*/
}

.bottom_content {
    padding: 0 15px;
}

.index-section.video .desktop_view .confirm {
    margin-top: 20px;
    border: 2px solid green;
    padding: 5px;
    font-size: 18px;
}

@media only screen and (min-width:1450px){

.shopify-section.index-section .container-padd60 {
    max-width: 1500px;
}
  
}

@media only screen and (min-width:851px){

.shopify-section.section_image_text_4>div:before {
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/0390/2985/files/new-overaly-im-blackboard.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

}

@media only screen and (min-width:768px){



.shopify-section.video .col-md-6:first-child {
    padding-right: 20px;
}
  
.shopify-section.video .col-md-6:last-child {
    padding-left: 20px;
}

/*.shopify-section.video .col-md-6:first-child {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}

.shopify-section.video .col-md-6:last-child {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}*/

.mb-slide {
    display: none !important;
}
.video .modal-dialog {
    max-width: 1000px;
  width: 95%;
}

}

@media only screen and (min-width:1200px){

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
  
.shopify-section.video .col-md-6:first-child {
    padding-right: 58px;
}
  
}

@media only screen and (max-width:1700px) and (min-width:1450px){

.bottom_content {
    font-size: 16px;
}

.shopify-section.index-section .container-padd60 {
    max-width: 1300px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 45px!important;
  margin-bottom: 55px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    width: 305px;
    height: 10px;
    margin-top: 45px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    max-width: 415px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 35px;
}

.shopify-section.video h2.gl_custom_heading {
    font-size: 40px!important;
}

.shopify-section.video p span {
    font-size: 21px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    max-width: 700px;
    margin: 67px auto 0;
    min-height: 395px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    width: 100%;
    max-width: 700px;
    margin: 30px auto 0;
    min-height: 352px;
}

.home-slideshow-sections .home-slideshow {
    padding: 45px 0 17px;
}

.bottom_content+.bottom_content h3 {
    font-size: 40px;
}

.bottom_content .signup-mail-outer {
    max-width: 670px;
}

.home-slideshow-sections .widget-title .box-title {
    font-size: 41px!important;
}

.home-slideshow-sections .widget-title .box-title span.title:after {
    width: 83px;
    height: 86px;
}

.index-section.section_image_text_4 .left_dshboard:before {
    width: 103px;
    height: 113px;
    top: 20px;
}
.index-section.section_image_text_4 .left_dshboard {
    padding-top: 60px;
}
  
}



@media only screen and (max-width:1449px){

.home-slideshow .container-fluid {
    max-width: 1270px !important;
}

.uns_hero_static img {
    width: 100%;
    max-width: 800px;
}

.uns_hero_static span.text_sec {
    font-size: 38px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 40px!important;
}


.shopify-section.section_image_text_4 p {
    font-size: 22px;
}

.shopify-section.video h2.gl_custom_heading {
    font-size: 40px!important;
}

.shopify-section.video p span {
    font-size: 20px;
}

.testimonal-slideshow-sections .home-slideshow {
    padding: 70px 0 40px;
}

.testimonal-slideshow-sections .home-slideshow h3.box-title {
    font-size: 40px;
}

.testimonal-slideshow-sections .home-slideshow h3.box-title .title:after {
    width: 83px;
    height: 61px;
    right: -60px;
    top: -15px;
}

.shopify-section.video .col-md-6:last-child img.title_image {
    width: 100%;
    max-width: 400px;
}

.testimonial-inner:after {
    width: 93px;
    height: 73px;
}

.testimonial-inner:before {
    width: 93px;
    height: 73px;
}

.container-padd60.right_dashboard {
    padding-top: 80px;
}

.video-popup button[data-target="#size-chart"] {
    padding-bottom: 61.66%!important;
}
.index-section .buttons .basel-button-wrapper a.btn {
    font-size: 25px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    width: 325px;
    margin-top: 45px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    margin-bottom: 45px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    max-width: 435px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 35px;
}

.shopify-section.section_image_text_4>div:after {
    width: 72%;
}

.bottom_content {
    font-size: 15px;
}

.index-section.section_image_text_4 .left_dshboard:before {
    width: 113px;
    height: 123px;
}

.bottom_content+.bottom_content h3 {
    font-size: 45px;
}

.bottom_content .signup-mail-outer {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
}

}


@media only screen and (max-width:1300px) and (min-width:1200px){


.shopify-section.index-section .container-padd60 {
    max-width: 1100px;
}

.home-slideshow .container-fluid {
    max-width: 960px!important;
}

.index-section.section_image_text_4 .left_dshboard:before {
    width: 83px;
    height: 83px;
}

.index-section.section_image_text_4 .left_dshboard {
    padding-top: 30px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 39px!important;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    max-width: 385px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    width: 265px;
    margin-top: 35px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 31px;
}

.shopify-section.video p span {
    font-size: 19px;
}

.shopify-section.video h2.gl_custom_heading {
    font-size: 35px!important;
}

.bottom_content+.bottom_content h3 {
    font-size: 35px;
    margin-top: 15px;
}

.bottom_content .signup-mail-outer {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
}

.home-slideshow-sections .home-slideshow {
    padding: 45px 0 30px;
}


  .home-slideshow-sections .widget-title .box-title {
    font-size: 39px!important;
    margin-bottom: 15px;
}

.home-slideshow-sections .widget-title .box-title span.title:after {
    width: 83px;
    height: 96px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    max-width: 670px;
    margin: 7px auto 0;
    min-height: 340px;
}

.shopify-section.video .container-padd60 {
    padding-top: 40px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child {
    padding-bottom: 0;
}
.shopify-section.section_image_text_4>div:before {
    left: 56% !important;
}

.bottom_content {
    font-size: 14px;
}
  
}


@media only screen and (max-width:1199px){

.bottom_content {
    font-size: 14px;
}
  
.shopify-section.video .col-md-6:last-child img.title_image {
    max-width: 330px;
}
  
.shopify-section.video h2.gl_custom_heading {
    font-size: 35px!important;
    margin-bottom: 0;
}

.shopify-section.video p span {
    font-size: 20px;
}

.index-section .buttons .basel-button-wrapper a.btn {
    font-size: 22px;
}

.index-section .buttons .basel-button-wrapper {
    margin-right: 20px;
    padding-right: 20px;
}

.uns_hero_static img {
    width: 100%;
    max-width: 650px;
}

.uns_hero_static span.text_sec {
    font-size: 31px;
}

.shopify-section.video .container-padd60 {
    padding-top: 8vw;
    padding-bottom: 7vw;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 32px!important;
    margin-bottom: 30px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading + h2.gl_custom_heading {
    display: block !important;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    display: none !important;
}

.shopify-section.section_image_text_4 p {
    font-size: 18px;
}

.shopify-section.video .col-md-6:last-child {
    padding-left: 15px;
}

.shopify-section.video h2.gl_custom_heading {
    display: none !important;
}

.shopify-section.video h2.gl_custom_heading + h2.gl_custom_heading {
    display: block !important;
    padding-top: 0;
}

.testimonial-inner .testimonial-content {
    font-size: 22px;
}

.testimonial-avatar .author_name {
    font-size: 23px;
}

.container-padd60.right_dashboard {
    padding-top: 40px;
}

.testimonal-slideshow-sections .home-slideshow {
    padding: 50px 0 20px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    max-width: 826px;
    min-height: 370px;
    margin-top: 32px;
}

.home-slideshow .slick-prev.slick-arrow, .home-slideshow .slick-next.slick-arrow {
    width: 35px;
    height: 35px;
}

.home-slideshow .slick-prev.slick-arrow:after {
    width: 18px;
    height: 11px;
    top: 10px;
    right: 3px;
}

.home-slideshow .slick-next.slick-arrow:after {
    width: 18px;
    height: 11px;
   top: 11px;
    left: 4px;
}

.bottom_content+.bottom_content h3 {
    font-size: 37px;
}

.home-slideshow-sections .home-slideshow {
    padding: 45px 0 57px;
}
  
}

@media only screen and (max-width:1199px) and (min-width:851px){

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}

  .shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 37px!important;
}


.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    max-width: 365px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 28px;
}

.index-section.section_image_text_4 .left_dshboard {
    padding-top: 30px;
    position: relative;
}

.index-section.section_image_text_4 .left_dshboard:before {
    width: 73px;
    height: 83px;
}

}

@media only screen and (max-width:991px) and (min-width:851px){

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 33px!important;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    max-width: 295px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    width: 265px;
    margin-top: 35px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 25px;
}


}

@media only screen and (max-width:991px){

.shopify-section.video h2.gl_custom_heading {
    line-height: 1 !important;
}

.index-section .buttons .basel-button-wrapper a.btn {
    font-size: 19px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    max-width: 630px;
    min-height: 320px;
}

}

@media only screen and (max-width:850px){

.uns_hero_static {
    background-size: cover;
}

.uns_hero_static img {
    max-width: 590px;
}

.uns_hero_static span.text_sec {
    font-size: 33px;
    width: 100%;
    max-width: 450px;
    padding-top: 65px;
}

.shopify-section.video .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.shopify-section.video .col-md-6:last-child img.title_image {
    margin-top: 50px;
}

.shopify-section.video h2.gl_custom_heading+h2.gl_custom_heading {
    display: block!important;
    padding-top: 20px;
    font-size: 45px !important;
    margin-bottom: 20px;
}

.index-section .buttons {
    justify-content: center;
}

.index-section .buttons .basel-button-wrapper {
    margin-right: 30px;
    padding-right: 30px;
  margin-top: 20px;
}
.index-section .buttons .basel-button-wrapper a.btn {
    font-size: 25px;
}

.left_dshboard .spb_column.gl_column_container.col-md-6 {
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  padding-left: 30px;
    padding-right: 30px;
}

.shopify-section.section_image_text_4 .left_dshboard p {
    padding-right: 0;
}

.video-popup button[data-target="#size-chart"] {
    padding-bottom: 56.66%!important;
}

.shopify-section.video h2.gl_custom_heading {
    font-size: 30px!important;
}

.container-padd60.right_dashboard .spb_column.gl_column_container.col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.container-padd60.right_dashboard .col-md-6:first-child {
    order: 2;
    text-align: right;
    margin-top: 20px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 40px!important;
}

.shopify-section.section_image_text_4 p {
    font-size: 22px;
    max-width: 100%;
}

.shopify-section.video p span {
    font-size: 22px;
}

.uns_hero_static {
    padding: 14vw 20px;
}

.testimonal-slideshow-sections .home-slideshow .images-contain.container-padd60 {
    max-width: 670px;
}

.bottom_content {
    font-size: 14px;
    text-align: left;
    padding: 0 50px;
    line-height: 1.8;
}

.index-section.section_image_text_4 .left_dshboard:before {
    width: 93px;
    height: 103px;
    right: 30px;
    top: 30px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    margin-left: auto;
    margin-right: auto;
}

.shopify-section.video .container-padd60 {
    padding-bottom: 5vw;
}

.shopify-section.section_image_text_4>div:after{
  display:none !important;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child {
    padding-bottom: 0;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading+h2.gl_custom_heading {
    display: inline-block !important;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    margin-bottom: 50px;
}

.index-section.section_image_text_4 .left_dshboard {
    padding-top: 60px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 24px;
    letter-spacing: 1px;
    font-family: "DINNextRoundedLTPro-Light";
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    max-width: 465px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child img {
    display: none;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child img.mb-slide {
    display: block !important;
    width: 100%;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container:last-child {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.index-section.video .desktop-form {
    text-align: center;
}

.index-section.video .desktop-form button {
    line-height: 1.2;
}

.bottom_content+.bottom_content h3 {
    text-align: center;
}
  
}

@media only screen and (max-width:767px){

.shopify-section.video .video-popup {
    margin-bottom: 0;
}
.shopify-section.video .col-md-6:first-child .gl_column-inner.gl_mb_4 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}
  
.left_dshboard img.lazyloadedpc-slide {
    display: none !important;
}

.left_dshboard img.mb-slide {
    display: block;
    margin: 0 auto;
}

.left_dshboard .spb_column.gl_column_container.col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    font-size: 28px!important;
  white-space: normal;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    white-space: normal;
}


.shopify-section.section_image_text_4 .spb_column.gl_column_container.col-md-6:first-child img {
    max-width: 300px;
   margin-bottom: 26px;
}

.shopify-section.section_image_text_4 p {
    font-size: 17px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    width: 265px;
    margin-top: 25px;
}
  
.shopify-section.video .col-md-6 {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.uns_hero_static span.text_sec {
    font-size: 23px;
    padding-top: 45px;
    line-height: 1.3;
    max-width: 300px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 20px;
    letter-spacing: .5px;
}

  .shopify-section.section_image_text_4 h2.gl_custom_heading {
    margin-bottom: 40px;
}

.index-section.section_image_text_4 .left_dshboard:before {
    width: 83px;
    height: 93px;
    right: 20px;
    top: 20px;
}

.uns_hero_static {
    padding: 130px 20px;
}

.shopify-section.video .container-padd60 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.shopify-section.video .col-md-6:last-child img.title_image {
    margin-top: 30px;
}

.shopify-section.video .col-md-6:last-child img.title_image {
    max-width: 220px;
}

.shopify-section.video h2.gl_custom_heading+h2.gl_custom_heading {
    padding-top: 14px;
    font-size: 26px !important;
}
.shopify-section.video h2.gl_custom_heading+h2.gl_custom_heading {
    margin-bottom: 8px;
}

.shopify-section.video p span {
    font-size: 16px;
}

.index-section .buttons .basel-button-wrapper a.btn {
    font-size: 16px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    position: relative;
    margin-bottom: 10px !important;
}

.video-popup button[data-target="#size-chart"]:after {
    width: 68px;
    height: 45px;
}

.shopify-section.section_image_text_4 p {
    font-size: 16px;
}

.testimonial-inner:before {
    width: 63px;
    height: 49px;
}

.testimonial-inner:after {
    width: 63px;
    height: 49px;
}

.testimonial-inner {
    position: relative;
    padding: 0 30px 50px;
}

  .container-padd60.right_dashboard {
    padding-top: 0;
}

.testimonal-slideshow-sections .home-slideshow .slick-prev.slick-arrow {
    transform: inherit !important;
    top: 70px;
}

.home-slideshow .slick-prev.slick-arrow {
   width: 28px;
    height: 28px;
    padding-top: 0;
}

.testimonal-slideshow-sections .home-slideshow .slick-next.slick-arrow {
    top: 70px;
    transform: inherit !important;
}
.home-slideshow .slick-next.slick-arrow {
    width: 28px;
    height: 28px;
    padding-top: 0;
}

.home-slideshow .slick-next.slick-arrow:after {
    width: 16px;
    height: 10px;
    top: 7px;
    left: 5px;
}

.home-slideshow .slick-prev.slick-arrow:after {
     width: 16px;
    height: 10px;
    top: 7px;
    right: 5px;
}

.testimonal-slideshow-sections .home-slideshow h3.box-title {
    font-size: 28px;
    margin-bottom: 30px;
}
  
.testimonal-slideshow-sections .home-slideshow h3.box-title .title:after {
    width: 63px;
    height: 43px;
    right: -40px;
    top: -15px;
}

.testimonial-inner .testimonial-content {
    font-size: 17px;
    max-width: 430px;
    padding-left: 0;
    padding-right: 0;
  padding-top: 3px;
}

.testimonial-avatar .author_name {
    font-size: 18px;
    padding: 0 30px;
}

.testimonial-inner:before {
    top: 50%;
}

.container-padd60.right_dashboard .spb_column.gl_column_container.col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
}

.index-section .buttons .basel-button-wrapper {
    margin-right: 15px;
    padding-right: 15px;
}

.index-section .buttons .basel-button-wrapper:after {
    right: -3px;
    top: 3px;
    font-size: 23px;
}

.shopify-section.video p {
    line-height: 1.3;
}

.home-slideshow-sections .home-slideshow {
    padding: 34px 0 30px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    min-height: 295px;
    margin-top: 10px;
    max-width: 410px;
}

/*.home-slideshow-sections .home-slideshow .container-fluid .images-contain img {
    max-height: 200px;
    object-fit: contain;
}*/

.home-slideshow-sections .no-padd.col-12 {
    padding-left: 15px;
    padding-right: 15px;
}

  .home-slideshow-sections .home-slideshow .slick-prev.slick-arrow {
    left: -7px !important;
}
.home-slideshow-sections .home-slideshow .slick-next.slick-arrow {
    right: -7px !important;
}

.home-slideshow-sections .widget-title .box-title {
    font-size: 26px!important;
}

.home-slideshow-sections .widget-title .box-title span.title:after {
    width: 63px;
    height: 70px;
    margin-left: 10px;
    top: 6px;
}



.home-slideshow-sections .widget-title .box-title span.title {
    padding: 0;
}

.home-slideshow-sections .widget-title .box-title span {
    top: -4px;
}

.bottom_content {
    padding: 0 25px;
}

.bottom_content+.bottom_content h3 {
    font-size: 26px;
    text-align: center;
}

.index-section.video .desktop-form .aign-text-frm label {
    font-size: 20px;
    letter-spacing: 0;
    min-width: 60px;
}

.bottom_content .signup-mail-outer {
    max-width: 390px;
}
  
}


@media only screen and (max-width: 479px){

.index-section.section_image_text_4 .left_dshboard:before {
    width: 73px;
    height: 73px;
    right: 15px;
    top: 15px;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading {
    margin-bottom: 30px;
    font-size: 24px !important;
}

.shopify-section.section_image_text_4 h2.gl_custom_heading:after {
    width: 215px;
    margin-top: 20px;
}

.shopify-section.section_image_text_4 .spb_column.gl_column_container span.advance {
    font-size: 18px;
    letter-spacing: 0;
}

.bottom_content+.bottom_content h3 {
    font-size: 22px;
}

.index-section.video .desktop-form .aign-text-frm {
    gap: 10px;
}
.index-section.video .desktop-form .aign-text-frm label {
    font-size: 17px;
    min-width: 50px;
}

.bottom_content .signup-mail-outer {
    max-width: 92%;
}

.bottom_content + .bottom_content {
    padding: 0 15px;
}

.index-section.video .desktop-form .aign-text-frm input {
    height: 42px;
    font-size: 16px;
    padding: 5px 12px;
    border-radius: 10px;
}

.index-section.video .desktop-form button {
    min-width: 125px;
    padding: 6px 6px 3px 6px;
    font-size: 28px;
    line-height: 1.2;
}

.index-section.video .desktop-form .aign-text-frm {
    margin-bottom: 20px;
}

.home-slideshow-sections .home-slideshow .container-fluid .images-contain img {
    max-height: 200px;
    object-fit: contain;
}
.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    min-height: 180px;
    max-width: 250px;
}
  
}

@media only screen and (max-width: 400px){
.home-slideshow-sections .home-slideshow .container-fluid .images-contain {
    max-width: 280px;
}
.index-section .buttons .basel-button-wrapper {
    margin-right: 12px;
    padding-right: 12px;
}

.home-slideshow-sections .widget-title .box-title {
    font-size: 24px!important;
}
  
}


@media only screen and (max-width: 355px){
.index-section .buttons .basel-button-wrapper {
    margin-right: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 10px;
}

.index-section .buttons .basel-button-wrapper:after {
    display: none;
}

.index-section .buttons .basel-button-wrapper a.btn {
    font-size: 18px;
    padding-top: 4px!important;
    padding-bottom: 4px!important;
    position: relative;
    margin-bottom: 0!important;
}

.home-slideshow-sections .widget-title .box-title span.title:after {
    width: 40px;
    height: 40px;
    top: 4px;
}
  
}
.modal-header {
    position: absolute;
    z-index: 99999;
    right:0;
}
.modal-header .close{position:absolute;right:0;top:0;background:#5e0c8c;width:35px!important;height:35px!important;color:#fff!important;text-shadow:none!important;padding:0;line-height:35px;margin:0}
