
.home-slideshow-sections .home-slideshow {
    margin-bottom: 50px !important;
}
.home-product-tabs-sections .home-product-tabs {
    margin: 50px 0 50px!important;
}


section {
    margin: 50px 0 !important;
}
.makeup-product-tabs-sections {
    margin: 50px 0 50px 0;
}

.makeup-product-tabs-sections .inner.product-item {
    margin-bottom: 0 !important;
}

h3.banner-heading {
    text-align: center;
    font-family: "DINNextRoundedLTPro-Bold" !important;
    margin-bottom: 20px !important;
}

.home-game-banner-section img {
    width: 100%;
    max-width: 1240px !important;
}

.makeup-product-tabs-sections {
    background: #f1e6f6;
    padding: 50px 0 20px 0;
}

.makeup-product-tabs-sections .list-product-tabs li {
    margin-right: 0 !important;
    padding: 0 15px;
}

.makeup-product-tabs-sections .home-product-tabs .widget-product .list-product-tabs li a.tab-links {
    border-radius: 0;
    padding: 2px;
}

.makeup-product-tabs-sections .home-product-tabs .inner {
    background: #fff;
}

@media only screen and (max-width:767px){

.home-slideshow-sections .home-slideshow {
    margin-bottom: 30px !important;

.home-product-tabs-sections .home-product-tabs {
    margin: 30px 0 30px!important;
}

  section {
    margin: 30px 0 !important;
}

.makeup-product-tabs-sections {
    margin: 30px 0;
}
  
}