main.main-content {
    padding-bottom: 10px;
}

/*-----------banner-section--------*/
.home-slideshow-sections .home-slideshow {
    margin-bottom: 50px !important;
  margin-top: 0 !important;
}
.home-slideshow-sections .home-slideshow .slick-arrow {
    width: 36px;
    height: 36px;
    opacity: 1!important;
    background-color: #5e0d8b!important;
    color: #fff!important;
    padding-top: 4px;
}

.home-slideshow-sections .home-slideshow .slick-arrow svg {
    width: 14px;
    height: 14px;
    stroke-width: 4px;
}

.home-slideshow-sections .slick-prev.slick-arrow {
    left: 15px!important;
}


.home-slideshow-sections .home-slideshow .slick-arrow {
    width: 36px;
    height: 36px;
    opacity: 1!important;
    background-color: #5e0d8b!important;
    color: #fff!important;
    padding-top: 4px;
}

.home-slideshow-sections .home-slideshow .slick-arrow svg {
    width: 14px;
    height: 14px;
    stroke-width: 4px;
}

.home-slideshow-sections .slick-prev.slick-arrow {
    left: 15px!important;
}
.home-slideshow-sections .slick-next.slick-arrow {
    right: 15px !important;
}

/*-----------banner-section-end--------*/

.home-product-tabs .product-tabs-content .products-grid .products-grid { 
    width: 100%;
}

.home-product-tabs-sections .home-product-tabs {
    margin: 50px 0 50px!important;
}

section {
    margin: 50px 0 !important;
}

h3.banner-heading {
    text-align: center;
    font-family: "DINNextRoundedLTPro-Bold" !important;
    margin-bottom: 20px !important;
}

.home-game-banner-section img {
    width: 100% !important;
    max-width: 1240px !important;
  margin: 0 auto;
}

.makeup-product-tabs-sections {
    background: #f1e6f6;
    padding: 60px 0 30px;
  margin: 70px 0 50px 0;
}

.makeup-product-tabs-sections .list-product-tabs li {
    margin-right: 0 !important;
    padding: 0 15px;
}

.makeup-product-tabs-sections .home-product-tabs .widget-product .list-product-tabs li a.tab-links {
    border-radius: 0;
    padding: 2px;
}

.makeup-product-tabs-sections .home-product-tabs .inner {
    background: #fff;
}

.widget-title .box-title {
    font-family: "DINNextRoundedLTPro-Bold" !important;
}

.home-brands-new-sections .brand_div {
    margin-bottom: 15px;
}

.brand_div .tooltip {
    display: flex;
    align-items: center;
    min-height: 155px;
    font-family: "DINNextRoundedLTPro-Regular";
    width: 100%;
    padding: 20px 30px 25px;
    margin-bottom: 40px;
    background: #ebe0f0;
    max-width: 300px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 300;
}
.home-brands-new-sections .slick-slider img {
    max-width: 150px;
    width: 100%;
}

.home-game-banner-section {
    padding: 0px 15px 0px 15px;
    margin: 30px 0 !important;
}

.home-testimonials-carousel, .home-collection-carousel {
    margin: 30px 0;
}

.inner.product-item {
    border: 1px solid #ccc;
}

.widget-title .box-title .title {
    background: none;
    padding-left: 0;
    padding-right: 0;
}

.widget-title .box-title {
    font-size: 57px;
  margin-bottom: 15px;
}

.product-bottom .shopify-product-reviews-badge {
    display: none;
}

.products-grid {
    justify-content: center;
}

a.btn {
    background: #5e0d8b;
    color: #fff!important;
    font-size: 22px;
    border-radius: 7px;
    padding-top: 14px;
    padding-bottom: 14px;
    min-width: 195px;
    font-weight: 500;
}

a.btn:hover {
    background: #9000c5;
    background-image: inherit!important;
}

.brand_div .tooltip {
    display: flex;
    align-items: center;
    min-height: 155px;
    font-family: "DINNextRoundedLTPro-Regular";
    width: 100%;
    padding: 20px 30px 25px;
    margin-bottom: 40px;
    background: #ebe0f0;
    max-width: 300px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 300;
}

.widget-product .slick-arrow {
    background: #5C0F8B;
    color: #fff;
}

/*-01-02-2023-*/
.home-testimonials-carousel .block-wrapper {
    padding: 0;
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin-bottom: 10px;
}
.home-testimonials-carousel .banner-heading {
    font-size: 57px;
       font-family: "DINNextRoundedLTPro-Bold";
    text-align: center;
    color: #5f258a;
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: initial;
    position: relative;
}

/*-02-02-2023-*/
.home-collection-carousel .widget-product .block-wrapper span.title_block {
    display: block;
    text-align: center;
    background: #ebe0f0;
    padding: 10px 7px;
    font-family: "DINNextRoundedLTPro-Medium";
    border-top: 1px solid #5b0c8b;
    text-transform: capitalize;
    color: #5b0c8b;
    font-size: 17px;
}
.home-collection-carousel .products-grid .block-wrapper>a img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
}
.home-collection-carousel .products-grid .block-wrapper>a {
    position: relative;
    padding-bottom: 100%;
    display: block;
    overflow: hidden;
}
.home-collection-carousel .banner-heading {
    text-align: center;
    font-size: 57px;
    letter-spacing: 1px;
    color: #5f258a;
    text-transform: lowercase;
   margin-top: 0;
}
.home-collection-carousel .products-grid .block-wrapper {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #00000059;
}
.home-collection-carousel ul.slick-dots {
    margin-bottom: 10px;
}
.home-collection-carousel .slick-arrow {
    display: none !important;
}

.bodylin_videos_inner {
    margin: 50px 0;
}

.inner-top .product-image .product-grid-image {
    min-height: inherit;
    padding-bottom: 66.66%;
    overflow: hidden;
}

.inner-top .product-image .product-grid-image img{
  position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    object-fit: contain!important;
    height: 100%!important;
    min-height: inherit!important;
    -moz-transform: inherit!important;
    -o-transform: inherit!important;
    -ms-transform: inherit!important;
    -webkit-transform: inherit!important;
    transform: inherit!important;
  
}

/*-02-02-2023-*/

@media only screen and (min-width: 1400px)
{
	.home-testimonials-carousel .slick-next.slick-arrow {
    right: -40px;
	top: 45%;
}
.home-testimonials-carousel .slick-prev.slick-arrow {
    left: -40px;
	top: 45%;
}
}


@media only screen and (min-width: 768px){

.home-testimonials-carousel, .home-collection-carousel, .home-brands-new-sections {
    margin: 50px 0;
}

 .home-product-tabs-sections {
    margin: 50px 0;
}
  
.home-slideshow-sections ul.slick-dots {
    display: none !important;
}

.home-game-banner-section {
    margin: 50px 0 !important;
}

}

@media only screen and (max-width:1199px){

.products-grid .grid-item {
    margin-bottom: 10px;
    margin-top: 10px;
}


}

@media only screen and (max-width:991px)
{
  .brands-style-2 .slick-dots li.slick-active button, .widget-product .slick-dots li.slick-active button {
    border-color: transparent;
    background: #620c92;
}
  .brands-style-2 .slick-dots li button, .widget-product .slick-dots li button {
    width: 16px;
    height: 16px;
    background: none;
    border-color: #a0a0a0;
    border: 2px solid #620c92;
}
}

@media only screen and (max-width:767px){

a.btn {
    font-size: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 175px;
}

.featured-collection .products-grid {
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
}

.featured-collection .products-grid .grid-item {
    padding-left: 10px;
    padding-right: 10px;
}

.widget-product ul.slick-dots {
    margin-top: 15px;
}


.home-product-tabs-sections, .home-brands-new-sections {
    margin: 30px 0;
}

.home-slideshow-sections .home-slideshow .slick-arrow {
    display: none !important;
}

span.jdgm-prev-badge__text {
    font-size: 12px;
}

span.jdgm-star {
    font-size: 12px !important;
    padding: 0 0 0 1px !important;
}

.widget-title .box-title {
    font-size: 27px;
}

.home-slideshow-sections .home-slideshow {
    margin-bottom: 30px !important;
}

.home-product-tabs-sections .home-product-tabs {
    margin: 30px 0 30px!important;
}

section {
    margin: 30px 0 !important;
}


.home-game-banner-section {
    padding: 0px 15px 0 15px;
}

.home-slideshow-sections .home-slideshow .slick-dots{ 
    top: -20px;
    position: relative;
    margin-top: -10px!important;
}

.makeup-product-tabs-sections {
  margin: 30px 0;
    padding: 30px 0 20px;
}

.makeup-product-tabs-sections .home-product-tabs .widget-product .list-product-tabs li {
    margin-right: 10px !important;
}

.makeup-product-tabs-sections .home-product-tabs .widget-product .list-product-tabs li:last-child {
    margin-right: 0 !important;
}

.makeup-product-tabs-sections .home-product-tabs .widget-product .list-product-tabs li img {
    width: 100%;
    max-width: 93px;
}

h3.banner-heading {
  font-size: 27px !important;
  margin-bottom: 10px!important;
}

.home-brands-new-sections .slick-dots li button {
    border: 2px solid #7806ac;
}

.brand_div .tooltip {
    min-height: 135px;
    font-size: 16px;
}

.home-brands-new-sections .brand_div {
    margin-bottom: 35px;
}

  span.discount-tag-col.pink {
    font-size: 9px;
    width: 46px;
    line-height: 1.3;
    text-align: center;
}
.home-product-tabs .widget-product .list-product-tabs li {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}

.home-product-tabs .widget-product .list-product-tabs {
    display: block;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 12px;
}

.home-collection-carousel .banner-heading {
    letter-spacing: 0;
}

.brands-style-2 .slick-dots li, .widget-product .slick-dots li {
    margin: 0 5px;
    width: 16px;
    height: 16px;
}

.slick-dots li {
    margin: 0 5px;
    width: 14px;
    height: 14px;
}

.home-brands-new-sections .slick-dots li button{width: 14px;
    height: 14px;}

.bodylin_videos_inner {
    margin: 30px 0;
}

.home-testimonials-carousel .banner-heading {
    margin-bottom: 10px !important;
}

.home-testimonials-carousel .banner-heading {
    font-size: 27px;
    letter-spacing: 0;
}
  .home-collection-carousel .slick-list.draggable {
    padding: 0 !important;
}
  .home-collection-carousel ul.slick-dots li button {
    width: 12px;
    height: 12px;
    margin-top: 20px;
}

.home-product-tabs .widget-product .list-product-tabs::-webkit-scrollbar {
  height: 5px;
}

.home-product-tabs .widget-product .list-product-tabs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.home-product-tabs .widget-product .list-product-tabs::-webkit-scrollbar-thumb {
  height: 5px;
  background-color:inherit;
}

.home-product-tabs .widget-product .list-product-tabs::-webkit-scrollbar:vertical {
  display: none !important;
} 
  
}


@media only screen and (max-width:349px){

.makeup-product-tabs-sections .home-product-tabs .widget-product .list-product-tabs li img {
    max-width: 80px;
}

}







/*-01-02-2023-*/


